@mixin border {
  border: 4px solid black;
  border-radius: 30px;
}

@mixin button {
  width: 100px;
  height: 100px;
  background-color: #f1d5a1;
}

@mixin btn-style {
  font-size: 70px;
  cursor: pointer;
  transition: all 400ms ease-in-out;

  &:hover {
    color: white;
    transform: scale(1.2);
  }
}

@mixin user-select {
  user-select: none;
  cursor: auto;
}
